<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="#">
    <input type="text" id="uid_txt" placeholder="아이디">
    <input type="password" id="upw_txt" placeholder="비밀번호">
        <button type="button" id="login_btn">로그인</button>
    </form>
</body>
</html>